@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-canvas text-on-background font-body-md;
  }
}

@keyframes float-up {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-15px); }
}

@keyframes float-down {
  0% { transform: translateY(0px); }
  100% { transform: translateY(15px); }
}

.animate-float-up {
  animation: float-up 4s ease-in-out infinite alternate;
}

.animate-float-down {
  animation: float-down 5s ease-in-out infinite alternate;
}

@keyframes shimmer {
  0% { transform: translateX(-100%) translateY(-100%); }
  100% { transform: translateX(100%) translateY(100%); }
}
